# install dependencies used during development:
# Usually same (version may be different) as install_requires in setup.cfg
click~=8.0
click-spinner

# Dependencies license report:
pip-licenses
pluggy~=0.13
py

# TESTING dependencies:

pytest
# See https://youtrack.jetbrains.com/issue/PY-20186
# pytest-cov and IntelliJ debugger are incompatible.
# So we will run pytest-cov only in gitlab ci and it's commented out here.
# pytest-cov
pytest-httpserver
requests>=2.25
requests_oauthlib
setuptools>=65.5.1
tabulate

# Dependencies for creating HTTP calls against the OAuth2 provider. We can potentially remove those
# and use requests_oauthlib only, but for now it seems like there are some custom logic with the first
# OAuth2 provider which needs to be handled that way
urllib3>=1.26.5
vdk-control-api-auth

vdk-control-service-api==1.0.10
