# install dependencies used during development:
# Usually same (version may be different) as install_requires in setup.cfg
click~=7.1.2
setuptools~=47.1
pluggy~=0.13
tabulate
click-spinner

vdk-control-service-api==1.0.6
requests_oauthlib

# Dependencies for creating HTTP calls against the OAuth2 provider. We can potentially remove those
# and use requests_oauthlib only, but for now it seems like there are some custom logic with the first
# OAuth2 provider which needs to be handled that way
urllib3>=1.26.5
requests>=2.25

# TESTING dependencies:

pytest
# See https://youtrack.jetbrains.com/issue/PY-20186
# pytest-cov and IntelliJ debugger are incompatible.
# So we will run pytest-cov only in gitlab ci and it's commented out here.
# pytest-cov
pytest-httpserver

# Dependencies license report:
pip-licenses
