include src/vdk/plugin/trino/templates/load/dimension/**/*
include src/vdk/plugin/trino/templates/load/fact/**/*

# this only work for source distribution (setup.py sdist) and not for binary distribution (bdist)
# https://packaging.python.org/guides/using-manifest-in/
