{{- /*
  Copyright 2021-2023 VMware, Inc.
  SPDX-License-Identifier: Apache-2.0
 */}}

{{- if .Values.operationsUi.enabled }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: ui-config
data:
  config.json: {{ .Values.operationsUi.config | toJson }}

{{- end }}
