{{- /*
  Copyright 2021-2023 VMware, Inc.
  SPDX-License-Identifier: Apache-2.0
 */}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-ui
  labels:
    app: {{ .Release.Name }}-ui
spec:
  replicas: {{ .Values.operationsUi.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-ui
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-ui
    spec:
      {{- if and (.Values.operationsUi.username) (.Values.operationsUi.password) }}
      imagePullSecrets:
        - name: {{ template "pipelines-control-service.fullname" . }}-operations-ui-repo-creds
      {{- end }}
      containers:
        -  name: management-service-ui
           image: {{ template "operations-ui.image" . }}
           imagePullPolicy: Never
           ports:
             -  name: http
                containerPort: 8091
                protocol: TCP
           livenessProbe:
             httpGet:
               path: /
               port: http
           readinessProbe:
             httpGet:
               path: /
               port: http
           resources:
             requests:
               memory: {{ .Values.operationsUi.resources.requests.memory }}
               cpu: {{ .Values.operationsUi.resources.requests.cpu }}
             limits:
               memory: {{ .Values.operationsUi.resources.limits.memory }}
               cpu: {{ .Values.operationsUi.resources.limits.cpu }}
