# Copyright 2021-2023 VMware, Inc.
# SPDX-License-Identifier: Apache-2.0

image: "python:3.7"

include:
  - "projects/vdk-control-cli/.gitlab-ci.yml"
  - "projects/vdk-core/.gitlab-ci.yml"
  - "projects/frontend/cicd/.gitlab-ci.yml"
  - "projects/vdk-heartbeat/.gitlab-ci.yml"
  - "projects/control-service/cicd/.gitlab-ci.yml"
  - "projects/vdk-plugins/.plugin-common.yml"
  - "projects/vdk-plugins/*/.plugin-ci.yml"
  - "projects/vdk-plugins/airflow-provider-vdk/.airflow-ci.yml"

stages:
  - build
  - publish_python_image
  - publish_job_base_image
  - publish_artifacts
  - pre_release
  - pre_release_image
  - pre_release_test
  - release
  - release_image
  - end

build-check-prerequisites:
  stage: build
  script:
    - ./cicd/build.sh
  only:
    - external_pull_requests

end:
  stage: end
  script:
    - echo "Noop pipeline to enable merging changes that are not covered by any of the jobs."
  only:
    refs:
      - external_pull_requests
