# Python dependencies used during build and tests
# For dependencies used during installation make sure to set them in setup.cfg (install_requires section)


# used for git hooks
pre-commit
black
reorder-python-imports
mypy
pydocstyle

# testing dependencies
pytest
pytest-sugar
pytest-randomly
smtpdfix
pytest-cov
-e ../vdk-plugins/vdk-test-utils

# Dependencies license report:
pip-licenses
