# this file is used to provide testing requirements
# for requirements (dependencies) needed during and after installation of the plugin see (and update) setup.py install_requires section

openai

pytest
pytest-httpserver
vdk-core
vdk-sqlite
vdk-test-utils
