# Copyright 2021-2023 VMware, Inc.
# SPDX-License-Identifier: Apache-2.0

.frontend_shared_components_changes: &frontend_shared_components_locations
  - "projects/frontend/cicd/**/*"
  - "projects/frontend/shared-components/**/*"

.frontend_data_pipelines_changes: &frontend_data_pipelines_locations
  - "projects/frontend/cicd/**/*"
  - "projects/frontend/data-pipelines/**/*"

frontend-data-pipelines-build:
  image: "versatiledatakit/vdk-cicd-base-gui:2.0.0"
  stage: build
  needs:
    - job: frontend-shared-components-build
      optional: true
  before_script:
    - cd projects/frontend/
  script:
    - ./cicd/install_data_pipelines.sh
  coverage: /^TOTAL\s+\d+\s+\d+\s+(\d+\%)$/
  retry: !reference [.retry, retry_options]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_PIPELINE_SOURCE == "external_pull_request_event"'
      changes: *frontend_shared_components_locations
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_PIPELINE_SOURCE == "external_pull_request_event"'
      changes: *frontend_data_pipelines_locations
  artifacts:
    when: always
    reports:
      junit:
        - projects/frontend/data-pipelines/gui/reports/test-results/data-pipelines-ui/*.xml
        - projects/frontend/data-pipelines/gui/reports/test-results/data-pipelines-lib/*.xml
    paths:
      - projects/frontend/data-pipelines/gui/package-lock.json
      - projects/frontend/data-pipelines/gui/dist/
      - projects/frontend/data-pipelines/gui/node_modules/
    expire_in: 1 week

frontend-data-pipelines-release:
  image: "versatiledatakit/vdk-cicd-base-gui:2.0.0"
  stage: release
  before_script:
    - cd projects/frontend/
  script:
    - ./cicd/publish_package_npm.sh data-pipelines $CI_PIPELINE_ID $NPM_TOKEN $NPM_REGISTRY
  retry: !reference [.retry, retry_options]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: *frontend_shared_components_locations
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: *frontend_data_pipelines_locations
  artifacts:
    paths:
      - projects/frontend/data-pipelines/gui/package-lock.json
    expire_in: 1 week

frontend_publish_test_image:
  image: docker:19.03.15
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_HOST: tcp://localhost:2375
  services:
    - docker:19.03.15-dind
  stage: release
  script:
    - docker login --username "${VDK_DOCKER_REGISTRY_USERNAME}" --password "${VDK_DOCKER_REGISTRY_PASSWORD}" "${VDK_DOCKER_REGISTRY_URL}"
    - cd projects/frontend/cicd
    - VERSION_TAG="$(cat version.txt)"
    - image_tag="$VDK_DOCKER_REGISTRY_URL/vdk-cicd-base-gui:$VERSION_TAG"
    - docker build -t $image_tag .
    - docker push $image_tag
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - projects/frontend/cicd/version.txt

frontend-shared-components-build:
  image: "versatiledatakit/vdk-cicd-base-gui:2.0.0"
  stage: build
  before_script:
    - cd projects/frontend/shared-components/gui
  script:
    - ../../cicd/build_shared.sh
  retry: !reference [.retry, retry_options]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_PIPELINE_SOURCE == "external_pull_request_event"'
      changes: *frontend_shared_components_locations
  artifacts:
    when: always
    reports:
      junit:
        - projects/frontend/shared-components/gui/reports/test-results/shared/*.xml
        - projects/frontend/shared-components/gui/reports/test-results/shared/*.xml
    paths:
      - projects/frontend/shared-components/gui/package-lock.json
      - projects/frontend/shared-components/gui/dist/
      - projects/frontend/shared-components/gui/node_modules/
    expire_in: 1 week

frontend-shared-components-release:
  image: "versatiledatakit/vdk-cicd-base-gui:2.0.0"
  stage: release
  before_script:
    - cd projects/frontend/
  script:
    - ./cicd/publish_package_npm.sh shared-components $CI_PIPELINE_ID $NPM_TOKEN $NPM_REGISTRY
  retry: !reference [.retry, retry_options]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes: *frontend_shared_components_locations
  artifacts:
    when: always
    paths:
      - projects/frontend/shared-components/gui/package-lock.json
    expire_in: 1 week
