/*
 * Copyright 2021-2023 VMware, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */
/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/
@import url('vdkDialogs.css');

.jp-vdk-cell {
  --jp-cell-editor-background: rgb(240, 246, 255);
}

.jp-vdk-cell-num {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1e488c;
  color: aliceblue;
  padding: 4px;
}

.jp-vdk-logo {
  position: absolute;
  top: 0;
  right: -5px;
  padding-right: 25px;
}
