/*
 * Copyright 2021-2023 VMware, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

.jp-vdk-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.hidden {
  display: none;
}

.jp-vdk-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jp-vdk-checkbox {
  margin-left: 10px;
}

#enable {
  margin-top: 10px;
  margin-left: 0;
}

.vdk-run-error-message {
  color: #c0392b;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.vdk-run-dialog-message {
  font-size: 24px;
  color: #33b53a;
  margin: 0;
}
.vdk-run-dialog-message-container {
  position: relative;
}
.vdk-tick-element {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #33b53a;
}
