/*
 * Copyright 2021-2023 VMware, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

.jp-vdk-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.hidden {
  display: none;
}

.jp-vdk-checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jp-vdk-checkbox {
  margin-left: 10px;
}

#Enable {
  margin-top: 10px;
  margin-left: 0;
}