{{- /*
  Copyright 2023-2025 Broadcom
  SPDX-License-Identifier: Apache-2.0
 */}}

{{- if .Values.datajobTemplate.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: datajob-template-file
data:
  datajobTemplate: |+
{{ toYaml .Values.datajobTemplate.template | indent 4 }}
{{- end }}
