# Copyright 2023-2023 VMware, Inc.
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.fluentd.enabled }}
apiVersion: logs.vdp.vmware.com/v1beta1
kind: FluentdConfig
metadata:
  name: {{ include "pipelines-control-service.fullname" . }}-parser
spec:
  fluentconf: |
    {{- if .Values.fluentd.extra }}
    {{ .Values.fluentd.extra | indent 4 | trim }}
    {{- end }}
    {{- if .Values.fluentd.filter }}
    <filter $labels(app_kubernetes_io/name={{ include "pipelines-control-service.name" . }})>
      {{ .Values.fluentd.filter | indent 6 | trim }}
    </filter>
    {{- end }}
    <match $labels(app_kubernetes_io/name={{ include "pipelines-control-service.name" . }})>
      {{ .Values.fluentd.match | indent 6 | trim }}
    </match>
{{- end }}
