{{- /*
    Copyright 2021-2023 VMware, Inc.
  SPDX-License-Identifier: Apache-2.0
    */}}

{{- if .Values.alertmanager.enabled }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.alertmanager.authentication.secretName }}
  namespace: {{ .Values.alertmanager.metadata.namespace }}
  labels: {{- include "pipelines-control-service.labels" . | nindent 4 }}
type: Opaque
data:
  authPassword: {{ default "" .Values.alertmanager.authentication.authPassword | b64enc | quote }}
{{- end }}
