docker-compose

# Pinned minikerberos because the current implementation is not compatible with 0.3.0+
# https://github.com/vmware/versatile-data-kit/issues/1169
pytest
pytest-docker<2

# install earlier version due to https://github.com/yaml/pyyaml/issues/601
PyYAML==5.4

vdk-test-utils
