docker-compose
# Pinned minikerberos because the current implementation is not compatible with 0.3.0+
# https://github.com/vmware/versatile-data-kit/issues/1169
minikerberos==0.2.20
pytest
pytest-docker
requests-kerberos
vdk-core

# testing requirements
vdk-test-utils
